{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shuk Potato - Home</title>
</head>
<body onunload="deleteAllCookies()">
<div class="menubarcontainer">
    <ul>
        
        <div class="center">
            <li>
                <h1>Shuk potato ({{token}})</h1>
            </li>
       </div>
       <div class="center">
            <li>
                {% if userStatus != "" %}
                    <h3>Hello {{userStatus}}</h3>
                {%endif%}
            </li>
        </div>
        <div class="center">
            <li>
                <ul class="basemenubar">
                {% if userStatus != "" %}
                    <li><a href="{% url 'shops' %}">Shops</a></li>
                    <li><a href="{% url 'cart' %}">My Cart</a></li>
                {%endif%}
                {% if userStatus == "" or userStatus == "Guest" %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'register' %}">Register</a></li>
                {%endif%}
                {% if userStatus == "Guest" %}
                    <li><a href="{% url 'exit' %}">Exit</a></li>
                {% elif userStatus != "" %}<!--So it is a memeber:-->
                    <li><a href="{% url 'manage' %}">Manage</a></li>
                    <li><a href="{% url 'exit' %}">Logout</a></li>
                {%endif%}
                </ul>  
            </li>
        </div>
    
    <div class="center">
        <li>
            <form action="{% url 'search'%}"class="searchform" method="get" role="search">
                <input id="search" type="search" placeholder="Search..." required />
                <button type="submit">Go</button>    
            </form>
        </li>
    </div>
   
  
    </ul>
</div>
    
    <header class="page-header">
        <div class="container">
           
            
        </div>
      </header>
      
          <div>
            
            <br>
            {% block content %}
            {% endblock %}
            
        {% if userStatus != "" %}
            <script type="text/javascript">
                console.log("js")
                let url=`ws://${window.location.host}/ws/socket-server/`
                console.log("attempt")
                const chatSocket = new WebSocket(url)
                console.log("success")
                chatSocket.onmessage = function(e){
                    console.log("rec")
                    let data = JSON.parse(e.data)
                    if (data.type === 'connection_established'){
                        /*Get cookie:*/
                        const mycookie = ('; '+document.cookie).split(`; tokenuser=`).pop().split(';')[0];
                        obj = {"type":"consumermessage","message": mycookie}
                        chatSocket.send(JSON.stringify(obj));
                        
                    }else {
                        console.log(data)
                        alert(data.message)
                    }

                }
                
            </script>
        {%endif%}

        {% if jsmessage != "" %}
            <script type="text/javascript">
                window.onload = function(){
                    alert("{{jsmessage}}")
                }
            </script>
        {% endif %}
          </div>
          
      </main>
</body>
</html>