{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shuk Potato - Home</title>
</head>
<body>
<div class="menubarcontainer">
    <ul>
        <li><ul class="basemenubar">
        {% if userStatus != "" %}
            <li><a href="{% url 'shops' %}">Shops</a></li>
            <li><a href="{% url 'cart' %}">Cart</a></li>
        {%endif%}
        {% if userStatus == "Guest" %}
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'register' %}">Register</a></li>
            <li><a href="{% url 'exit' %}">Exit</a></li>
        {% elif userStatus != "" %}<!--So it is a memeber:-->
            <li><a href="{% url 'manage' %}">Manage</a></li>
            <li><a href="{% url 'exit' %}">Logout</a></li>
        {%endif%}
    </ul></li>
    <li>
    <form class="searchform" onsubmit="event.preventDefault();" role="search">
        <input id="search" type="search" placeholder="Search..." autofocus required />
        <button type="submit">Go</button>    
      </form></li>
    </ul>
</div>
    
    <header class="page-header">
        <div class="container">
            <h1>Shuk potato ({{token}})</h1>
            {% if userStatus != "" %}
                <h3>Hello {{userStatus}}</h3>
            {%endif%}
            
        </div>
      </header>
      <main class="container">
          <div>
            
            <br>
            {% block content %}
            {% endblock %}
            
        {% if userStatus != "" %}
            <script type="text/javascript">
                let url=`ws://${window.location.host}/ws/socket-server/`
                const chatSocket = new WebSocket(url)
                chatSocket.onmessage = function(e){
                    let data = JSON.parse(e.data)
                    if (data.type === 'connection_established'){
                        /*Get cookie:*/
                        const mycookie = ('; '+document.cookie).split(`; tokenuser=`).pop().split(';')[0];
                        obj = {"type":"consumermessage","message": mycookie}
                        chatSocket.send(JSON.stringify(obj));
                        
                    }else {
                        console.log(data)
                        alert(data.message)
                    }

                }

            </script>
        {%endif%}
          </div>
          
      </main>
</body>
</html>