{% extends 'base.html' %}

{% block content %}
<h1>My shopping cart:</h1>

{% if amountOfItems == 0 %}
        <div class = "center"><h1>Your cart is empty.</h1></div>
{% else %}
<h3>Total of {{cartprice}}.</h3>
<form action="" method="POST" id="purchaseForm">
    {% csrf_token %}
    <div class="center"><button class="bluebutton" type="submit" name="purchase" value="True">&emsp;Purchase Cart&emsp;</button></div>
</form>

{% for shopname, items in answer.items %}
<hr>
<h2>From shop {{shopname}}:</h2>
<h3>Total of {{cartprice}}.</h3>
    <br>
<div class="stockitemlist">
    
        {% for item in items %}
        <div class="stockitem">
            <h3>{{item.category}}</h3>
            <h2>{{item.name}}</h2>
            <p>{{item.description|linebreaks}}</p>
            <p class="price">{{item.price}}₪</p>
            <p class="center">{{item.amount}} left.</p>
            <!-- todo: add functionality  -->
            <form class="AddToCartform" action="" method="POST">
                {% csrf_token %}
                Amount: <input  type ="number" value={{item.count}} min="0" max="{{item.amount}}" step="1" name="quantity">
                <div class="center"><button class="bluebutton" type="submit" name="changeamount" value="{{item.name}}|{{shopname}}">&emsp;Change amount&emsp;</button></div>
            </form>
        </div>
        {% endfor %}
</div>
{% endfor %}
{% endif %}

{% endblock %}