{% extends 'base.html' %}

{% block content %}
{% if userStatus == "Guest" %}
<div class="center"><h1>You have to login to create a shop.</h1></div>
{% else %}
<form class="LoginScreen" action="{% url 'createshop' %}" method="POST">
    {% csrf_token %}
    <div class="LoginContainer">

        <h1>Create Shop</h1>
        {{form.as_p}}
        
        {% if errormessage != '' %}
            <span class="errormessage">{{errormessage}}</span>
        {% endif %}
        <div class="center"><button type="submit" class="bluebutton">&emsp;Create Shop&emsp;</button></div>
    </div>
</form>
{% endif %}
{% endblock %}