
{% extends 'base.html' %}

{% block content %}

    {% block createshopbutton%}
        {% include 'createshopbutton.html'%}
    {% endblock %}

    <h1>Shops under my control:</h1>

        {%if found|length > 0 %}
        <h1>Founded shops:</h1>
                {% include 'manageSingleShop.html' with shops=found%}
        {% endif %}

        {%if own|length > 0 %}
        <h1>Owned shops:</h1>
                {% include 'manageSingleShop.html' with shops=own %}
        {% endif %}

        {%if manage|length > 0 %}
        <h1>Managed shops:</h1>
                {% include 'manageSingleShop.html' with shops=manage %}
        {% endif %}

{% endblock %}