{% extends 'base.html' %}

{% block content %}
<h1>Welcome.</h1>

{% for pol in policies %}

{% endfor %}


<form class="SearchParams" action="" method="POST">
    {% csrf_token %}
    <div class="LoginContainer">
        <h3>IsItem</h3>
        <p>
    <input type="text" name="q" hidden readonly value="{{searchterm}}">
    </p>
    <p>
    <label for="id_category">Category:</label>
    <input type="text" name="category" class="form-control" placeholder="Category" min="0" id="id_category" value="{{category}}">
    </p>
    <p>
    <label for="id_min_Price">Min. price:</label>
    <input type="number" name="min_Price" class="form-control" placeholder="Min. price" min="0" step="any" id="id_min_Price" value="{{min_Price}}">
  </p>  
  <p>
    <label for="id_max_Price">Max. price:</label>
    <input type="number" name="max_Price" class="form-control" placeholder="Max. price" min="0" step="any" id="id_max_Price"  value="{{max_Price}}">
  </p>
    </div>
        {% if errormessage != '' %}
            <span class="errormessage">{{errormessage}}</span>
        {% endif %}
        <div class="center"><button type="submit" class="bluebutton">Filter</button></div>
    </div>
</form></div>
{% endblock %}