{% extends 'base.html' %}

{% block content %}
<div class="center">
<form class="SearchParams" action="" method="GET">
    <div class="LoginContainer">
        <h3>Filtering options:</h3>
        <p>
    <input type="text" name="q" hidden readonly value="{{searchterm}}">
    </p>
    <p>
    <label for="id_category">Category:</label>
    <input type="text" name="category" class="form-control" placeholder="Category" min="0" id="id_category" value="{{category}}">
    </p>
    <p>
    <label for="id_min_Price">Min. price:</label>
    <input type="number" name="min_Price" class="form-control" placeholder="Min. price" min="0" step="any" id="id_min_Price" value="{{min_Price}}">
  </p>  
  <p>
    <label for="id_max_Price">Max. price:</label>
    <input type="number" name="max_Price" class="form-control" placeholder="Max. price" min="0" step="any" id="id_max_Price"  value="{{max_Price}}">
  </p>
    </div>
        {% if errormessage != '' %}
            <span class="errormessage">{{errormessage}}</span>
        {% endif %}
        <div class="center"><button type="submit" class="bluebutton">Filter</button></div>
    </div>
</form></div>
{% if len_results == 0%}
    <div class="center"><h1>No results for {{searchterm}}.</h1></div>
    <div class="center"><h3>Try another term or different parameters..</h3></div>
{% else %}
<h1>Showing {{len_results}} results for {{searchterm}}:</h1>
{% for shopname, items in answer.items %}
<hr>
<h2>From shop {{shopname}}:</h2>
    <br>
<div class="stockitemlist">
    
        {% for item in items %}
        <div class="stockitem">
            <h3>{{item.category}}</h3>
            <h2>{{item.name}}</h2>
            <p>{{item.description|linebreaks}}</p>
            <p class="price">{{item.price}}₪</p>
            <p class="left">{{item.amount}} left.</p>
            <!-- todo: add functionality  -->
            <form class="AddToCartform" action="" method="POST">
                {% csrf_token %}
                Amount: <input  type ="number" value=1 min="1" max="{{item.amount}}" step="1" name="quantity">
                <div class="center"><button class="bluebutton" type="submit"name="addItemToCart" value="{{item.name}}">Add to cart</button></div>
            </form>
        </div>
        {% endfor %}
</div>
{% endfor %}
{% endif %}

{% endblock %}