{% extends 'base.html' %}

{% block content %}

{% block createshopbutton %}
    {% include 'createshopbutton.html' %}
{% endblock %}

<h1>Shops List:</h1>
<h1 style="color:red;">This page is deprecated!</h1>
<div class="stockitemlist">
    {% for item in itemslist %}
        <div class="stockitem">
            
            <div class="stockitemcontainer">
            <h3>Shop Name: {{item.name}}</h3>
            <p>Shop Description: {{item.desc}}</p>
            <p class="price">{{item.price}}₪</p>
            <p class="left">{{item.count}} left.</p>
            
            </div>
            <!-- todo: add functionality  -->
            <div class="center"><a href="{% url 'shop'%}/{{item.name}}"><button class="bluebutton">&emsp;Enter Shop&emsp;</button></a></div>
        </div>

    {% endfor %}

</div>

{% endblock %}