{% extends 'base.html' %}

{% block content %}
<h1>Shop {{shopname}}</h1>
<h2>Founded by :{{founder}}</h2>
<h2>Owned by :{{owners}}</h2>
<h2>Managed by :{{managers}}</h2>
{% if showAddItem %}
<div class="center"><a href="additem"><button class="bluebutton">Add Item</button></a></div>
{% endif %}
<div class="stockitemlist">

    {% for item in itemslist %}

        <div class="stockitem">
            <ul class="inlineme">
                <li>
            <form action="{% url 'shop'%}/{{shopname}}/edititem" method="GET">
                <div class="center"><button class="yellowbutton" type="submit" name="edit" value="{{item.name}}">Edit</button></div>
            </form></li>
            <li><form action="" method="POST">
                <div class="center"><button class="redbutton" type="submit" name="delete" value="{{item.name}}">Delete</button></div>
                </form></li>
                </ul>

            <h3>{{item.category}}</h3>
            <h2>{{item.name}}</h2>
            <p>{{item.desc}}</p>
            <p class="price">{{item.price}}₪</p>
            <p class="left">{{item.count}} left.</p>
            <!-- todo: add functionality  -->
            <form class="AddToCartform" action="" method="POST">
                Amount: <input  type ="number" value=1 min="1" max="{{item.count}}" step="1" name="quantity">
                <div class="center"><button class="bluebutton" type="submit"name="addItemToCart" value="{{item.id}}">Add to cart</button></div>
            </form>
        </div>

    {% endfor %}

</div>

{% endblock %}